*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif Hebrew', serif;
}
body {
		margin:0; 
		padding:0; 
}

.bg{
	background: #e3d9d5;
	padding-bottom: 15px;
}
.teams {
		width: 35%; 
		padding: 20px 0px;
		text-align: center;
		margin: auto;
		border-bottom: 3px solid #222;
		padding-bottom: 5px;
		margin-bottom: 10px;
}
.teams h2{
	font-family: arial black, sans-serif; 
	font-size: 50px;
	color: #222;	
}

.pra{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:10px;
	margin-top: 20px;
	padding-bottom: 10px; 
	font-size: 16px; 
	line-height: 30px; 
	padding: 5px;
	background: #a87f7d;
	
	width: 88%;
	color: #f7efe9;
	border: 3px outset #222;
}

.box2 {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	min-height: 40px;
	padding-top: 0px; 
} 		
	
.card {
	height: 550px; 
	width: 335px; 
	padding-top: 15px;
	padding-bottom: 0;
	border-radius: 10px; 
	border: 3px outset #222; 
	margin: 15px; 
	position: relative; 
	overflow: hidden; 
	text-align: center;
	box-shadow: 2px 2px 2px #1c0e03;
	background-color:#faebec;
}		

.card h4 {
	font-family: helvetica, sans-serif;
	color: #4d3018;
	margin-bottom: 10px;
	margin-top: 15px;
}	
	
.images2 img {
	height: 200px; 
	width: 160px; 
	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
	
.socmed p{
	color: Maroon; 
	font-size: 30px;
	
}
.socmed{
	margin-top: 20px;
}